
__pycache__
.env
venv
discord_hvz/plots
credentials.json
token.json
hvzdb.db
*.sublime-project
*.sublime-workspace
*.log
*.db

pyvenv.cfg
sqalchemytest.py
*.db
build
*.exe
testbed.py
.idea
*.zip
chatbotprocessors/custom_question_processors.py
/dist/
/test.py
